
.btn-celeste {
    background-color: #5ccfc7; 
    border-color: #87CEEB; 
    color: rgb(222, 219, 219); 
  }
  
  .btn-celeste:hover {
    background-color: #76C3DA; 
    border-color: #76C3DA; 
  }